In [1]:
type(123)

int

In [4]:
type(12.3)

float

# Variables

In [5]:
name = 'Hamza'
print(name)

Hamza

In [6]:
name = 123
type(name)

int

In [7]:
name = True
print(name)

True

In [8]:
a1 = '123'
type(a1)

str

In [9]:
a a = '12'

SyntaxError: invalid syntax (<ipython-input-9-5e00b066964a>, line 1)

In [14]:
a1q2 = '23'
a1q2

'23'

In [15]:
a = 2
b = 3
a+b

5

In [16]:
a = 2
b = 3
a*b

6

In [17]:
a = 2
b = 3
a-b

-1

In [18]:
a = 2
b = 3
a/b

0.6666666666666666

In [19]:
a = 2
b = 3
a//b

0

In [20]:
10 / 3

3.3333333333333335

In [21]:
10 // 3

3

In [23]:
c = 3
d = 6
c%d

3

In [24]:
c + 3

6

In [25]:
c

3

In [27]:
c = c + 3
c

9

In [28]:
c += 5

In [29]:
c

14

In [31]:
c *= 3
c

126

In [32]:
(3+2)*2+5/2

12.5

In [33]:
3 ** 2

9

In [40]:
(3+2)*2+5**2 / 2

22.5

In [44]:
a == b

True

# Concatenating text string

In [46]:
first_name = 'Hamza'
last_name = 'Khan'
print(first_name+" "+last_name)

Hamza Khan

In [47]:
len(first_name)

5

In [49]:
print('abc'+123)

TypeError: can only concatenate str (not "int") to str

In [50]:
a = 10
type(a)

int

In [53]:
str(a)

'10'

In [55]:
print("The number is "+ a)

The number is 10

In [54]:
a=str(a)

In [58]:
name = 'Ali'
age = 25
print("my name is and my age is")

my name is and my age is

In [62]:
print("my name is " + name + " and my age is " + str(age))

my name is Ali and my age is 25

# Formate

In [68]:
name = 'Ali'
age = 25
print('My name is {} and my age is {}.'.format(name,age))

My name is Ali and my age is 25.

In [69]:
print(f'my name is {} and my age is {}.')

SyntaxError: f-string: empty expression not allowed (<ipython-input-69-41b9b3072785>, line 1)